body {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: #4d4d4d;
}

.BG {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background-color: pink;
    width: 700px;
    height: 700px;
    margin: 50px auto;
    border-radius: 30px;
}

.nav {
    display: flex;
    column-gap: 12px;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
    /*margin-top: 50px;*/
}

.container {
    position: absolute;
    z-index: 10;
    display: grid;
/*    grid-template-columns: repeat( 20, 1fr );*/
    width: 500px;
    /*border: solid 1px lightgray;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.child {
/*    width: 100px;
    height: 100px;*/
    background-color: white;
    /*border: 1px solid lightblue;*/
}

